/* Remove the navbar's default rounded borders and increase the bottom margin */ 
    .navbar {
      margin-bottom: 50px;
      border-radius: 0;
    }
    
    /* Remove the jumbotron's default bottom margin */ 
     .jumbotron {
         background-image: url(https://cdn5.f-cdn.com/contestentries/1075561/25652235/596b0da6e8f69_thumb900.jpg);
      margin-bottom: 0;
      padding-top: 20px;
      padding-bottom: 20px;
    }
   
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
    
    
    #formularioventa{
    color: black;
    background-color: orange;
    width: 800px;
    margin: auto;
    border: 5px solid #73AD21;
    border-radius: 50px;
    font-size: 18px;
    font-style:italic;      
        
    }
    
    #keko{
    color: black;
    background-color: orange;
    width: 800px;
    margin: auto;
    border: 5px solid #73AD21;
    border-radius: 50px;
    font-size: 18px;
    font-style:italic;      
        
    }
    
     
    #productos{
    color: black;
    background-color: graytext;
    width: 750px;
    margin: auto;
    border: 3px solid black;
    border-radius: 50px;
    font-size: 15px;
    font-style:italic;   
        
        
    }
   
    
    
    #menu{      
    background-color: blueviolet;
    color: red;
    width: 100%;    
    border: red;
    border-radius: 200px;  
    
        
        
    }